/target/classes/com/example/seribit/entity/Address$AddressBuilder.class
/target/classes/com/example/seribit/entity/Address.class
/target/classes/com/example/seribit/dto/javaxgroups/AllAttributesNullCheckGroup.class
/target/classes/application.properties
/target/classes/com/example/seribit/config/BeanConfiguration.class
/target/classes/com/example/seribit/entity/Client$ClientBuilder.class
/target/classes/com/example/seribit/entity/Client.class
/target/classes/com/example/seribit/controller/ClientController.class
/target/classes/com/example/seribit/dto/ClientDTO.class
/target/classes/com/example/seribit/mapper/ClientMapper.class
/target/classes/com/example/seribit/repository/ClientRepository.class
/target/classes/com/example/seribit/service/ClientService.class
/target/classes/com/example/seribit/exception/handler/ControllerExceptionHandler.class
/target/classes/com/example/seribit/dto/javaxgroups/CreateGroup.class
/target/classes/com/example/seribit/exception/handler/EntityNotFoundException.class
/HELP.md
/target/classes/com/example/seribit/entity/Phone$PhoneBuilder.class
/target/classes/com/example/seribit/entity/Phone.class
/target/classes/com/example/seribit/SeribitApplication.class
/target/classes/com/example/seribit/dto/javaxgroups/UpdateGroup.class
